In [16]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
# Load the data
tatamotors_df = pd.read_csv('TATAMOTORS.NS.csv')
nsei_df = pd.read_csv('^NSEI.csv')

In [5]:
tatamotors_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-03,423.000000,424.950012,419.500000,424.250000,422.931854,6948329
1,2023-04-05,424.250000,428.750000,423.149994,426.549988,425.224701,8821326
2,2023-04-06,426.500000,439.299988,423.750000,437.649994,436.290222,10907492
3,2023-04-10,452.049988,473.299988,452.000000,461.299988,459.866730,50462653
4,2023-04-11,463.750000,463.750000,455.799988,458.700012,457.274841,14495222
...,...,...,...,...,...,...,...
238,2024-03-21,951.000000,969.250000,946.000000,964.900024,964.900024,11074207
239,2024-03-22,964.900024,986.200012,950.349976,979.799988,979.799988,13638296
240,2024-03-26,977.000000,995.000000,976.000000,986.200012,986.200012,9461531
241,2024-03-27,991.599976,995.000000,976.700012,978.650024,978.650024,6640537
242,2024-03-28,982.500000,999.900024,979.000000,992.799988,992.799988,9862996

In [6]:
nsei_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200
1,2023-04-05,17422.300781,17570.550781,17402.699219,17557.050781,17557.050781,248300
2,2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700
3,2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800
4,2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300
...,...,...,...,...,...,...,...
238,2024-03-21,21989.900391,22080.949219,21941.300781,22011.949219,22011.949219,353200
239,2024-03-22,21932.199219,22180.699219,21883.300781,22096.750000,22096.750000,388700
240,2024-03-26,21947.900391,22073.199219,21947.550781,22004.699219,22004.699219,328400
241,2024-03-27,22053.949219,22193.599609,22052.849609,22123.650391,22123.650391,409100
242,2024-03-28,22163.599609,22516.000000,22163.599609,22326.900391,22326.900391,410500

In [7]:

# Convert 'Date' to datetime and set as index
tatamotors_df['Date'] = pd.to_datetime(tatamotors_df['Date'])
nsei_df['Date'] = pd.to_datetime(nsei_df['Date'])
tatamotors_df.set_index('Date', inplace=True)
nsei_df.set_index('Date', inplace=True)

In [9]:
tatamotors_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,423.000000,424.950012,419.500000,424.250000,422.931854,6948329
2023-04-05,424.250000,428.750000,423.149994,426.549988,425.224701,8821326
2023-04-06,426.500000,439.299988,423.750000,437.649994,436.290222,10907492
2023-04-10,452.049988,473.299988,452.000000,461.299988,459.866730,50462653
2023-04-11,463.750000,463.750000,455.799988,458.700012,457.274841,14495222

In [10]:
nsei_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200
2023-04-05,17422.300781,17570.550781,17402.699219,17557.050781,17557.050781,248300
2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700
2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800
2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300

In [11]:
# Calculate daily returns using Adjusted Close prices
tatamotors_df['Daily Return'] = tatamotors_df['Adj Close'].pct_change()
nsei_df['Daily Return'] = nsei_df['Adj Close'].pct_change()

In [12]:
tatamotors_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2023-04-03,423.000000,424.950012,419.500000,424.250000,422.931854,6948329,NaN
2023-04-05,424.250000,428.750000,423.149994,426.549988,425.224701,8821326,0.005421
2023-04-06,426.500000,439.299988,423.750000,437.649994,436.290222,10907492,0.026023
2023-04-10,452.049988,473.299988,452.000000,461.299988,459.866730,50462653,0.054039
2023-04-11,463.750000,463.750000,455.799988,458.700012,457.274841,14495222,-0.005636

In [13]:
nsei_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200,NaN
2023-04-05,17422.300781,17570.550781,17402.699219,17557.050781,17557.050781,248300,0.009139
2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700,0.002398
2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800,0.001415
2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300,0.005575

In [14]:
# Drop NaN values
tatamotors_df = tatamotors_df.dropna()
nsei_df = nsei_df.dropna()

In [18]:
pip install statsmodels

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Collecting statsmodels
  Obtaining dependency information for statsmodels from https://files.pythonhosted.org/packages/bf/53/1e7077d1bf324c1b1055dedb72e1410d089e459a86940e25b28f545f776e/statsmodels-0.14.2-cp312-cp312-win_amd64.whl.metadata
  Downloading statsmodels-0.14.2-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Requirement already satisfied: numpy>=1.22.3 in c:\users\abhin\appdata\roaming\python\python312\site-packages (from statsmodels) (1.26.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\abhin\appdata\roaming\python\python312\site-packages (from statsmodels) (1.11.4)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\abhin\appdata\roaming\python\python312\site-packages (from statsmodels) (2.1.4)
Collecting patsy>=0.5.6 (from statsmodels)
  Obtaining dependency information for patsy>=0.5.6 from https://files.pythonhosted.org/packages/43/f3/1d311a09c34f14f5973bb0bb0dc3a6e007e1eda90b5492d082689936ca51/patsy-0.5.6-py2.py3-none-any.whl.metadata
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\abhin\appdata\roaming\python\python312\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abhin\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhin\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\abhin\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\abhin\appdata\roaming\python\python312\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Downloading statsmodels-0.14.2-cp312-cp312-win_amd64.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.8 MB 217.9 kB/s eta 0:00:46
   ---------------------------------------- 0.0/9.8 MB 279.3 kB/s eta 0:00:36
    --------------------------------------- 0.1/9.8 MB 717.5 kB/s eta 0:00:14
    --------------------------------------- 0.2/9.8 MB 1.0 MB/s eta 0:00:10
    --------------------------------------- 0.2/9.8 MB 1.0 MB/s eta 0:00:10
   - -------------------------------------- 0.3/9.8 MB 1.1 MB/s eta 0:00:09
   - -------------------------------------- 0.4/9.8 MB 1.0 MB/s eta 0:00:10
   - -------------------------------------- 0.5/9.8 MB 1.1 MB/s eta 0:00:09
   -- ------------------------------------- 0.5/9.8 MB 1.2 MB/s eta 0:00:08
   -- ------------------------------------- 0.6/9.8 MB 1.3 MB/s eta 0:00:08
   -- ------------------------------------- 0.7/9.8 MB 1.3 MB/s eta 0:00:07
   --- ------------------------------------ 0.8/9.8 MB 1.4 MB/s eta 0:00:07
   --- ------------------------------------ 0.9/9.8 MB 1.5 MB/s eta 0:00:07
   ---- ----------------------------------- 1.1/9.8 MB 1.6 MB/s eta 0:00:06
   ---- ----------------------------------- 1.2/9.8 MB 1.6 MB/s eta 0:00:06
   ----- ---------------------------------- 1.2/9.8 MB 1.7 MB/s eta 0:00:06
   ----- ---------------------------------- 1.4/9.8 MB 1.7 MB/s eta 0:00:05
   ----- ---------------------------------- 1.4/9.8 MB 1.7 MB/s eta 0:00:06
   ------ --------------------------------- 1.6/9.8 MB 1.7 MB/s eta 0:00:05
   ------ --------------------------------- 1.6/9.8 MB 1.7 MB/s eta 0:00:05
   ------- -------------------------------- 1.7/9.8 MB 1.8 MB/s eta 0:00:05
   ------- -------------------------------- 1.9/9.8 MB 1.8 MB/s eta 0:00:05
   -------- ------------------------------- 2.0/9.8 MB 1.8 MB/s eta 0:00:05
   -------- ------------------------------- 2.1/9.8 MB 1.9 MB/s eta 0:00:05
   --------- ------------------------------ 2.3/9.8 MB 1.9 MB/s eta 0:00:05
   --------- ------------------------------ 2.3/9.8 MB 1.9 MB/s eta 0:00:05
   ---------- ----------------------------- 2.5/9.8 MB 1.9 MB/s eta 0:00:04
   ---------- ----------------------------- 2.5/9.8 MB 1.9 MB/s eta 0:00:04
   ---------- ----------------------------- 2.5/9.8 MB 1.9 MB/s eta 0:00:04
   ---------- ----------------------------- 2.5/9.8 MB 1.9 MB/s eta 0:00:04
   ---------- ----------------------------- 2.5/9.8 MB 1.7 MB/s eta 0:00:05
   ---------- ----------------------------- 2.7/9.8 MB 1.8 MB/s eta 0:00:05
   ----------- ---------------------------- 2.8/9.8 MB 1.8 MB/s eta 0:00:04
   ----------- ---------------------------- 2.9/9.8 MB 1.8 MB/s eta 0:00:04
   ------------ --------------------------- 3.1/9.8 MB 1.8 MB/s eta 0:00:04
   ------------- -------------------------- 3.2/9.8 MB 1.9 MB/s eta 0:00:04
   ------------- -------------------------- 3.3/9.8 MB 1.9 MB/s eta 0:00:04
   -------------- ------------------------- 3.5/9.8 MB 1.9 MB/s eta 0:00:04
   -------------- ------------------------- 3.6/9.8 MB 1.9 MB/s eta 0:00:04
   --------------- ------------------------ 3.7/9.8 MB 1.9 MB/s eta 0:00:04
   --------------- ------------------------ 3.8/9.8 MB 2.0 MB/s eta 0:00:04
   ---------------- ----------------------- 4.0/9.8 MB 2.0 MB/s eta 0:00:03
   ---------------- ----------------------- 4.0/9.8 MB 2.0 MB/s eta 0:00:03
   ----------------- ---------------------- 4.2/9.8 MB 2.0 MB/s eta 0:00:03
   ----------------- ---------------------- 4.4/9.8 MB 2.0 MB/s eta 0:00:03
   ------------------ --------------------- 4.5/9.8 MB 2.1 MB/s eta 0:00:03
   ------------------ --------------------- 4.5/9.8 MB 2.0 MB/s eta 0:00:03
   ------------------ --------------------- 4.6/9.8 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 4.8/9.8 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 4.9/9.8 MB 2.0 MB/s eta 0:00:03
   -------------------- ------------------- 5.0/9.8 MB 2.1 MB/s eta 0:00:03
   -------------------- ------------------- 5.1/9.8 MB 2.1 MB/s eta 0:00:03
   --------------------- ------------------ 5.2/9.8 MB 2.1 MB/s eta 0:00:03
   --------------------- ------------------ 5.4/9.8 MB 2.1 MB/s eta 0:00:03
   ---------------------- ----------------- 5.5/9.8 MB 2.1 MB/s eta 0:00:03
   ----------------------- ---------------- 5.7/9.8 MB 2.1 MB/s eta 0:00:02
   ----------------------- ---------------- 5.7/9.8 MB 2.1 MB/s eta 0:00:02
   ------------------------ --------------- 5.9/9.8 MB 2.2 MB/s eta 0:00:02
   ------------------------ --------------- 6.0/9.8 MB 2.2 MB/s eta 0:00:02
   ------------------------- -------------- 6.2/9.8 MB 2.2 MB/s eta 0:00:02
   ------------------------- -------------- 6.3/9.8 MB 2.2 MB/s eta 0:00:02
   -------------------------- ------------- 6.4/9.8 MB 2.2 MB/s eta 0:00:02
   -------------------------- ------------- 6.6/9.8 MB 2.2 MB/s eta 0:00:02
   --------------------------- ------------ 6.7/9.8 MB 2.2 MB/s eta 0:00:02
   --------------------------- ------------ 6.8/9.8 MB 2.2 MB/s eta 0:00:02
   ---------------------------- ----------- 6.9/9.8 MB 2.2 MB/s eta 0:00:02
   ---------------------------- ----------- 7.1/9.8 MB 2.2 MB/s eta 0:00:02
   ----------------------------- ---------- 7.1/9.8 MB 2.2 MB/s eta 0:00:02
   ----------------------------- ---------- 7.1/9.8 MB 2.2 MB/s eta 0:00:02
   ----------------------------- ---------- 7.2/9.8 MB 2.2 MB/s eta 0:00:02
   ------------------------------ --------- 7.6/9.8 MB 2.3 MB/s eta 0:00:01
   ------------------------------- -------- 7.7/9.8 MB 2.3 MB/s eta 0:00:01
   ------------------------------- -------- 7.8/9.8 MB 2.3 MB/s eta 0:00:01
   -------------------------------- ------- 8.0/9.8 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 8.1/9.8 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 8.3/9.8 MB 2.3 MB/s eta 0:00:01
   ---------------------------------- ----- 8.5/9.8 MB 2.3 MB/s eta 0:00:01
   ---------------------------------- ----- 8.6/9.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------------- ---- 8.8/9.8 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 9.0/9.8 MB 2.3 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.8 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 9.3/9.8 MB 2.4 MB/s eta 0:00:01
   -------------------------------------- - 9.5/9.8 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  9.6/9.8 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  9.7/9.8 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  9.8/9.8 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  9.8/9.8 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 2.3 MB/s eta 0:00:00
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ---------------------------------------- 0.0/233.9 kB ? eta -:--:--
   ---------------------------------------- 233.9/233.9 kB 2.4 MB/s eta 0:00:00
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.2

WARNING: There was an error checking the latest version of pip.

In [19]:
# computing alpha and beta

import statsmodels.api as sm

# Prepare the returns
X = nsei_df['Daily Return']
Y = tatamotors_df['Daily Return']

In [20]:

# Add a constant to the market returns
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(Y, X).fit()
alpha, beta = model.params

In [21]:
alpha, beta

(0.0024941822449887413, 1.0940495527647827)

In [22]:
# Annual sharpe ratio 
# Risk-free rate
risk_free_rate = 0.07015

# Calculate the daily risk-free rate
daily_risk_free_rate = (1 + risk_free_rate) ** (1 / 252) - 1

# Calculate the average daily return and standard deviation of daily returns
avg_daily_return_tata = tatamotors_df['Daily Return'].mean()
std_daily_return_tata = tatamotors_df['Daily Return'].std()

avg_daily_return_market = nsei_df['Daily Return'].mean()
std_daily_return_market = nsei_df['Daily Return'].std()

# Calculate the Sharpe ratios
sharpe_ratio_tata = (avg_daily_return_tata - daily_risk_free_rate) / std_daily_return_tata
sharpe_ratio_market = (avg_daily_return_market - daily_risk_free_rate) / std_daily_return_market

# Annualize the Sharpe ratios
annual_factor = np.sqrt(252)
annual_sharpe_ratio_tata = sharpe_ratio_tata * annual_factor
annual_sharpe_ratio_market = sharpe_ratio_market * annual_factor

In [23]:
annual_sharpe_ratio_tata, annual_sharpe_ratio_market

(3.5684321458471864, 1.988041196390445)

In [24]:
# Calculate Maximum Drawdown
def max_drawdown(returns):
    cumulative = (1 + returns).cumprod()
    peak = cumulative.cummax()
    drawdown = (cumulative - peak) / peak
    max_drawdown = drawdown.min()
    return max_drawdown

max_drawdown_tata = max_drawdown(tatamotors_df['Daily Return'])
max_drawdown_market = max_drawdown(nsei_df['Daily Return'])

In [25]:
max_drawdown_tata , max_drawdown_market

(-0.09511212579573322, -0.06611908147652767)

In [26]:
# Summary of results
results = {
    "alpha": alpha,
    "beta": beta,
    "annual_sharpe_ratio_tata": annual_sharpe_ratio_tata,
    "annual_sharpe_ratio_market": annual_sharpe_ratio_market,
    "max_drawdown_tata": max_drawdown_tata,
    "max_drawdown_market": max_drawdown_market
}

results

{'alpha': 0.0024941822449887413,
 'beta': 1.0940495527647827,
 'annual_sharpe_ratio_tata': 3.5684321458471864,
 'annual_sharpe_ratio_market': 1.988041196390445,
 'max_drawdown_tata': -0.09511212579573322,
 'max_drawdown_market': -0.06611908147652767}